
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto';
}


.wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, .5),
    rgba(0, 0, 0, 0.8)), url(images/bar.jpg);
    background-position:center center;
    background-size:cover;
    min-height:100vh;
    background-repeat:no-repeat;
}

h1 {
    color:#fff;
}

/*--- Nav Scrolling Offset --*/
.offset:before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

.fa-facebook-square {
  color: #000;
  font-size:1.2rem;
  margin-left:1rem;
}

.fa-twitter-square {
  color: #000;
  font-size:1.2rem;
  margin-left:1rem;
}

.fa-beer {
  font-size:3rem;
}



/*=======================================HEADER===========================================*/

h1.header {
    font-family: 'Kaushan Script', cursive;
    font-size:4rem;
    animation-duration:1.5s;
}

.caption {
    margin:auto;
    position: absolute;
    top: 38%;
    z-index: 1;
    width:100%;
    max-width:100%;
}

.text-center {
    text-align: center!important;
}

.btn.header {
    background-color:#fff;
    color:#000;
    font-family: 'Playfair Display', serif;
  }
  
  .btn.header:hover {
    background-color:#000;
    color:#fff;
    border:1px solid #fff;
  } 

h2 {
    font-family: 'Kaushan Script', cursive;
}

p.lead {
  color:#fff;
}

/*=======================================Navbar===========================================*/

.navbar {
    font-family: 'Kaushan Script', cursive;
    font-size:1.2rem;
}

/*=======================================About===========================================*/
#about {
  margin:32px;
}
/*=======================================Menu===========================================*/

div.container-fluid.menu {
    padding:0;
   }
  
   #menu {
     margin:32px;
   }
  
   a.menu {
    color:#363636;
    text-decoration: underline;
  }

  img.menu {
    width:100%;
    
  }


  div.menu {
   
}

/*=======================================Beer===========================================*/

div.container-fluid.beer {
  background-image: linear-gradient(rgba(0, 0, 0, .1),
    rgba(0, 0, 0, 0.8)), url(images/beer.jpg);
    background-position:center center;
    background-size:cover;
    min-height:100vh;
    background-repeat:no-repeat;
 }

 div.draught {
   background-color:#fff;
   margin: 10rem 5rem 10rem 5rem;
   padding:3rem;
 }

 h2.beer {
  font-family: 'Kaushan Script', cursive;
  font-size:2rem;
  font-weight:bold;
 }

 p.beer {
   font-family:Roboto;
   font-size: 1.4rem;
   color:#413e3e;
 }

